.bookings-page {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1024px) {
  .bookings-page {
    gap: 20px;
  }
}

@media (max-width: 768px) {
  .bookings-page {
    gap: 16px;
  }
}
